.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20%;
}
.loader{
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 5s linear infinite;
}

.circle{
    color: green;
    height: 40px;
    width: 40px;
    font-size: 55px;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
}

.circle:nth-child(2){
    color: rgb(34, 219, 142);
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50%{
        transform: scale(1);
    }
}